@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 12;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0c;
  scroll-behavior: smooth;
  font-family: var(--font-inter), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #0a0a0c;
}
::-webkit-scrollbar-thumb {
  background: #1e1e20;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #02a3dc;
}
